</<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <h2>{{ post.title }}</h2>
    <h5>{{ post.contents }}</h5>
    <h5>{{ post.price }} 원</h5>
    <h5>{{  post.score }}</h5>

    <a href="{% url 'home' %}">홈화면으로 돌아가기</a>
    
</body>
</html>